	button{
		border-radius: 5px;
		font-size:15px;
	}
	.cell{
		width: 30px;
		height: 30px;
		border-radius: 10px;
		border-color: blue;
	}
	.head p{
		background-color: rgba(104, 167, 0, 0.39);
		font-size: 25px;
		padding: 25px;
	}

	.form{
		background-color: rgba(171, 4, 4, 0.8);
		font-size: 20px;
		padding: 25px;
	}


	.alive{
		background-color: white;
		border: 2px solid;
	}
	.dead{
		background-color: lightgreen;
		border: 2px solid;
	}