	button{
		border-radius: 5px;
		font-size:15px;
	}
	table{
		background-color:  white;
	}

	td {
   		border: 1px solid black;
   		border-radius: 10px;
	}

	td {
		padding: 6px;
	}

	.head p{
		background-color: rgba(104, 167, 0, 0.39);
		font-size: 25px;
		padding: 25px;
	}

	.form{
		background-color: rgba(171, 4, 4, 0.8);
		font-size: 20px;
		padding: 25px;
	}


	.alive{
		background-color: white;
	}
	.dead{
		background-color: blue;
	}