<!DOCTYPE html>
<html>
<head>
	<title>Conway's Game of Life</title>
	<script type="text/javascript" src="js/jquery-3.0.0.min.js"></script>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/controller.js"></script>
	<link rel="stylesheet" type="text/css" href="css/index.css">
</head>

<body ng-app="conway" ng-controller="gameoflifeController">
	<div class="head">
		<p>Conway's Game of Life - Unchecked dead and Checked is alive</p>
	</div>
	<div class="form">
		<form id="Initialization">
			<label>Rows : </label><input type="text" name="Rows" value="" placeholder="Enter rows">
			<label>Columns : </label><input type="text" name="Columns" value="" placeholder="Enter columns">
			<p>
<!-- 				<button onclick="initialize(this.form); return false;">Create</button>
				<button onclick="iterate_infinite(); return false;">Loop - Continuous</button>
				<button onclick="iterate_infinite_fast(); return false;">Loop - Continuous Fast</button> -->
				<button ng-click='generateTable()' >Generate Table</button>
				<button ng-click='Table.MoveToNextGeneration()'>Loop</button>
			</p>
		</form>
	</div>
	<div id="gametable">
		<table>
			<tr ng-repeat="row in Table.GetRows()">
				<td ng-repeat="column in Table.GetColumns()" ng-init="cell = Table.GetCellByRowAndColumn(row,column)">
					<span ng-click="changestate(cell)">
						<div ng-if="cell.alive" class="alive cell"></div>
						<div ng-if="!cell.alive" class="dead cell"></div>
					</span>
				</td>
			</tr>
		</table>
	</div>

	<div id="modelvalues" style="display:none;">
		{{Table.cells[0].alive}}{{Table.cells[1].alive}}{{Table.cells[2].alive}}{{Table.cells[3].alive}}
		{{Table.cells[5].alive}}{{Table.cells[5].alive}}{{Table.cells[6].alive}}{{Table.cells[7].alive}}
		{{Table.cells[8].alive}}{{Table.cells[9].alive}}{{Table.cells[10].alive}}
	</div>
</body>
</html>